<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Deposit</title>
</head>
<body>
<h3> Deposit Money Here</h3>
<br><br>
<form action="./empdeposit" method="post">
Enter Amount<input type="number" name="amount">&nbsp;&nbsp;
<input type="submit" value="deposit">
</form>
<br>
<h4 th:text="${message}"></h4>
<h4 th:text="${balancemsg}"></h4>
<h4 th:text="${balance}"></h4>
<br><br><br>
<a href="./empwithdrawPage">Withdraw Balance From User Account</a><br><br>
<a href="./emptransferPage">Transfer From User Account</a><br><br>
<a href="./empdisplayTransfers">View Transfers By User Account</a><br><br>
<a href="./empdisplayTransactions">View Transactions By User Account</a><br><br>
<a href="./empupdateDetails">Change details Of User</a><br><br>
<a href="./employeeDashboard">Employee Dashboard</a><br><br>
</body>
</html>