<%@page import="com.bean.User"%>
<%@page import="java.util.List"%>
<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
	pageEncoding="ISO-8859-1"%>
<%@taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>List of Users</h1>
	<h3 style="color:blue;">Welcome , ${user.userName} !!</h3>
	<h2>List using JSTL</h2>
	<table border="1">
		<tr>
			<th>Account No</th>
			<th>Name</th>
			<th>Email id</th>
			<th>Mobile no</th>
			<th>Type of Account</th>
		</tr>
		<c:forEach items="${users}" var="user">
			<tr>
				<td>${user.accNo}</td>
				<td>${user.name}</td>
				<td>${user.mailId}</td>
				<td>${user.mobileNo}</td>
				<td>${user.typeOfAcc}</td>
			</tr>
		</c:forEach>
	</table>
	
	<br>
	<br>
	<a href="./menu">Go to main Page</a>
</body>
</html>