<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<table border="1">

		<tr>
			<th>From Acc No</th>
			<th>Type Of Transaction</th>
			<th>Amount</th>
			<th>Date And Time</th>
		</tr>


		<tr th:each=" transaction : ${transactionList}">
			<td th:text="${transaction.accNo.accNo}"></td>
			<td th:text="${transaction.typeOfTransaction}"></td>
			<td th:text="${transaction.amount}"></td>
			<td th:text="${transaction.date}"></td>
		</tr>
	</table>

<a href="./depositPage">Deposit Balance</a><br><br>
<a href="./withdrawPage">Withdraw Balance</a><br><br>
<a href="./transferPage">Transfer Amount</a><br><br>
<a href="./displayTransfers">View Transfers</a><br><br>
<a href="./displayTransactions">View Transactions</a><br><br>
<a href="./updateDetails">Change details</a><br><br>
<a href="./logout">Logout</a><br><br>

</body>
</html>